.btn-primary {
  padding: 1rem 1.5rem;
  background-color: #3B82F6;
  color: white;
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.btn-primary:hover {
  background-color: #2563EB;
}